<div class="row">
    <h2>Lotes</h2>

    <div>
        <button type="button" class="btn btn-link">
            <button [routerLink]="['/create_lotes']">Crear</button>
            <button [routerLink]="['/edit_lotes']">Editar</button>
        </button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Nombre del Lote</th>
          <th>Descripcion</th>
          <th>Numero</th>
          <th>Peso</th>
          <th>Cantidad de arpillas</th>
          <th>Ubicación</th>
          <th>Status</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
  </div>
