<div class="row">
  <h2>Campos</h2>

  <div>
      <button type="button" class="btn btn-link">
          <button [routerLink]="['/create_campos']">Crear</button>
          <button [routerLink]="['/edit_campos']">Editar</button>
          <button [routerLink]="['/delete_campos']">Borrar</button>
      </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre del Campo</th>
        <th>Descripción</th>
        <th>Superficie</th>
          <th>Ubicación</th>
          <th>Status</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tbody>
  </table>
</div>
