<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                  <a class="waves-effect waves-dark"[routerLink]="['/home']" aria-expanded="false"><i class="mdi mdi-home"></i>
                    <span class="hide-menu"  >Home
                    <div>
                        <select class="browser-default custom-select">
                            <option>Perfil</option>
                            <option>Campos</option>
                            <option>Eventos</option>
                            <option>Variedades</option>
                            <option>Lotes</option>
                        </select>
                    </div>
                    </span>
                  </a>
                </li>

                <li>
                  <a class="waves-effect waves-dark" [routerLink]="['/perfil']" aria-expanded="false"><i class="mdi mdi-account-check"></i>
                    <span class="hide-menu">Perfil
                      <div>
                        <select class="browser-default custom-select">
                            <option>Ver perfil</option>
                            <option>Crear</option>
                            <option>Editar</option>
                            <option>Borrar</option>
                        </select>
                      </div>
                    </span>
                  </a>
                </li>

                <li> <a class="waves-effect waves-dark" [routerLink]="['/campos']" aria-expanded="false"><i class="mdi mdi-panorama"></i>
                  <span class="hide-menu">Campos
                    <div>
                        <select class="browser-default custom-select">
                            <option>Ver Campos</option>
                            <option>Crear</option>
                            <option>Editar</option>
                            <option>Borrar</option>
                        </select>
                    </div>
                </span>
                  </a>
                </li>

                <li> <a class="waves-effect waves-dark" [routerLink]="['/eventos']" aria-expanded="false"><i class="mdi mdi-format-list-bulleted"></i>
                  <span class="hide-menu">Eventos
                    <div>
                        <select class="browser-default custom-select">
                            <option>Ver Eventos</option>
                            <option>Crear</option>
                            <option>Editar</option>
                        </select>
                    </div>
                    </span>
                  </a>
                </li>

                <li> <a class="waves-effect waves-dark" [routerLink]="['/variedades']" aria-expanded="false"><i class="mdi mdi-barley"></i>
                    <span class="hide-menu">Variedades
                      <div>
                          <select class="browser-default custom-select">
                              <option>Ver Variedades</option>
                              <option>Crear</option>
                              <option>Editar</option>
                              <option>Borrar</option>
                          </select>
                      </div>
                    </span>
                  </a>
                </li>

                <li> <a class="waves-effect waves-dark" [routerLink]="['/lotes']" aria-expanded="false"><i class="mdi mdi-truck"></i>
                    <span class="hide-menu">Lotes
                      <div>
                          <select class="browser-default custom-select">
                              <option>Ver Lotes</option>
                              <option>Crear</option>
                              <option>Editar</option>
                          </select>
                      </div>
                    </span>
                  </a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
