 <div class="row">
    <h2>Home</h2>
 </div>

 <div class="row" button type="button" class="btn btn-link">
    <div class="col-sm-2">
      <button [routerLink]="['/perfil']">Perfil</button>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
 </div>

    <div class="row" button type="button" class="btn btn-link">
    <div class="col-sm-2">
        <button [routerLink]="['/campos']">Campos</button>
        <p>Lorem ipsum dolor..</p>
        <p>Ut enim ad..</p>
      </div>
    </div>

    <div class="row" button type="button" class="btn btn-link">
      <div class="col-sm-2">
        <button [routerLink]="['/eventos']">Eventos</button>

        <p>Lorem ipsum dolor..</p>
        <p>Ut enim ad..</p>
      </div>
    </div>

    <div class="row" button type="button" class="btn btn-link">
      <div class="col-sm-2">
          <button [routerLink]="['/variedades']">Variedades</button>
          <p>Lorem ipsum dolor..</p>
          <p>Ut enim ad..</p>
        </div>
      </div>

    <div class="row" button type="button" class="btn btn-link">
        <div class="col-sm-2">
          <button [routerLink]="['/lotes']">Lotes</button>
          <p>Lorem ipsum dolor..</p>
          <p>Ut enim ad..</p>
        </div>
    </div>




